// .proyecto_interes_col {
//   margin-bottom: 20px;
//   margin-top: 20px;
// }
// .proyecto_interesado_container {
//   max-width: 830px;
//   margin: auto;
// }

// @media (max-width: 767px) {
//   .proyecto_interes_coleft {
//     margin-bottom: 0px;
//   }
// }

#form_proyecto_interesado {
  margin-top: 20px;
}
.proyecto_interes_wrapc {
  margin-bottom: 20px;
}
.proyecto_interes_title h4 {
  font-size: 18px;
  margin: 0;
}

.proyecto_interes_title {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  i {
    color: $colorblue;
    font-size: 49px;
    line-height: 1;
    margin-right: 5px;
  }
}
