#somos_mision {
  background: #efefef;
}
.somos_resumen_container {
  display: flex;
}
.somos_resumen_logo {
  width: 35%;
  padding: 20px;
  display: flex;
  align-items: center;
  .somos_resumen_logo_wrap {
    width: 100%;
  }
}
.somos_resumen_context {
  width: 65%;
  padding: 30px;
  // p {
  //   font-weight: bold;
  // }
}
.somos_valor_scard {
  text-align: center;
  padding: 25px 15px;
  i {
    font-size: 95px;
    color: $colorblue;
  }
}
.somos_valor_card_title {
  font-size: 19px;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 767px) {
  .somos_vision_wrap {
    flex-direction: column-reverse;
  }
  .somos_resumen_wrap {
    padding: 0 !important;
  }
  .somos_resumen_container {
    flex-direction: column;
    & > div {
      width: 100%;
      // padding: 20px 0px;
    }
  }
  .somos_resumen_logo {
    justify-content: center;
  }
  .somos_resumen_logo_wrap {
    width: 50% !important;
  }
}
