* {
  font-family: $fontTexts;
}
body {
  font-size: 16px;
}
a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}
img {
  
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page_input {
  padding: 11px 10px;
  border-radius: 3px;
  border: 0;
  display: block;
  width: 100%;
}
.general_section {
  position: relative;
  min-height: 50vh;
  overflow: hidden;
  padding: 40px 0;
}
.g_button {
  background: $colorgreen;
  padding: 10px 25px;
  min-width: 160px;
  display: inline-block;
  border-radius: 22px;
  color: white;
  font-weight: 600;
  border: 1px solid $colorgreen;
  transition: all 0.3s;
  &.has_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 20px;
      margin-right: 9px;
    }
  }
  &.square {
    display: flex;
    align-items: center;
    min-width: inherit;
    justify-content: center;
  }
  &.no-fill {
    background: none;
    &:hover {
      background: none;
    }
  }

  &.light {
    background: white;
    color: $colorgreen;
    border: 1px solid white;
    &:hover {
      border: 1px solid white;
      background: $colorgreen;
      color: #ffffff;
    }
  }
  &:hover {
    color: white;
    background: #6a9635;
    border-color: #6a9635;
  }
}
@keyframes fixedHeader {
  from {
    margin-top: -70px;
  }
  to {
    margin-top: 0px;
  }
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  .logo_color {
    display: none;
  }
  &.fixed {
    position: fixed;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.231);

    .header_logo {
      width: 120px;
    }
    .header_wrap {
      animation-name: fixedHeader;
      animation-duration: 0.4s;
      background: rgb(255, 255, 255);
    }
    #header_menu_list li a {
      color: $colorblue;
    }

    .logo_color {
      display: block;
    }
    .logo_white {
      display: none;
    }
  }
}
.header_wrap {
  padding: 15px 0;
}
.header_logo {
  width: 215px;
}
.header_container {
  display: flex;
  // max-width: 1140px;
  justify-content: space-between;
  margin: auto;
  padding: 0 4vw;
}
.header_right {
  width: 80%;
}
#header_right_toggle_button {
  display: none;
}
.header_menu {
  height: 100%;
}

#header_menu_list {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  li a {
    color: white;
    font-weight: bold;
    padding: 0 25px;
  }
}

#page_banner {
  overflow: hidden;
  padding: 0;
  height: 95vh;
  &:before {
    position: absolute;
    left: 0;
    content: "";
    background-image: url(#{$resourcePath}/images/hondas-banner.svg);
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: auto 100%;
    top: 0;
  }
}
.page_banner_wrap {
  position: relative;
  height: 100%;
  display: flex;
  padding-left: 4vw;
  flex-direction: column;
  justify-content: center;
}
.page_banner_arrowdown {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  button {
    padding: 12px;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 23px;
    justify-content: center;
    margin: auto;
    border: 0;
    color: white;
  }
}
.page_banner_title h3 {
  font-family: $fontTitle;
  color: white;
  font-size: 68px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  margin-bottom: 25px;
  &:after {
    position: absolute;
    content: "";
    width: 20%;
    height: 3px;
    top: 105%;
    left: 0;
    background: $colorgreen;
  }
}
.page_banner_desc p {
  color: white;
  font-size: 17px;
  font-weight: 600;
}
.page_banner_slick {
  width: 100%;
}
.page_banner_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  img {
    width: 100%;
    height: auto;
    max-width: inherit;
  }
}
.page_banner_container {
  height: 65vh;
  display: flex;
  align-items: center;
}

.page_banner_context {
  width: 25%;
}

.page_banner_arrow_button {
  text-align: center;
  padding-bottom: 10px;
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 57%;
    height: 13vw;
    bottom: -12vw;
    z-index: 2;
    background: #ffffff;
  }
  &:after {
    right: -3vw;
    transform: rotate(-10deg);
    transform-origin: left bottom;
  }
  &:before {
    left: -3vw;
    transform-origin: right bottom;
    transform: rotate(10deg);
  }
  button {
    background: $colorgreen;
    position: relative;
  }
}

.page_image_circle_wrap {
  position: relative;
  height: 395px;
}
.page_image_circle_container,
.page_imag_circle_bdotted,
.page_imag_circle_bsolid {
  position: absolute;
  width: 80vh;
  border-radius: 50%;
  height: 80vh;
  overflow: hidden;
  top: 0%;
}

.page_imag_circle_bsolid {
  &.left {
    right: 6%;
  }
  &.right {
    left: 4%;
  }
  border: 2px dashed rgba(36, 40, 91, 0.58);
  transform: translateY(-25px);
}
.page_imag_circle_bdotted {
  &.left {
    right: 6%;
  }
  &.right {
    left: 4%;
  }

  transform: translateY(5px);
  border: 2px solid $colorblue;
}

.page_image_circle_container {
  &.left {
    right: 10%;
  }
  img {
    width: auto;
    max-width: inherit;
    height: 100%;
  }
  &.right {
    left: 10%;
  }
}

.section_wrap {
  display: flex;
  .wrap_sm {
    width: 40%;
  }
  .wrap_lg {
    width: 60%;
  }
}
.bg_abs {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.section_title {
  text-align: center;
}
.section_title h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  color: $colorblue;
  font-family: $fontTitle;
  &:after {
    position: absolute;
    content: "";
    width: 80%;
    margin: auto;
    height: 2px;
    top: 121%;
    left: 10%;
    background: $colorgreen;
  }
}

.page_listing {
  margin: 15px 0;
  ul li {
    padding: 6px 0;
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
    &:before {
      font-family: verdant;
      content: "\e901";
      background: $colorgreen;
      padding: 5px;
      font-size: 8px;
      margin-right: 8px;
      color: white;
      border-radius: 50%;
      line-height: 1;
    }
  }
}

.form_label {
  display: flex;
  align-items: center;
  .required {
    margin-right: 7px;
    font-size: 19px;
    color: rgb(185, 36, 36);
    font-weight: bold;
  }
}
.page_context {
  padding: 30px;
}

.page_stronger {
  font-weight: bold;
  color: $colorblue;
}

footer {
  min-height: initial !important;
  padding-bottom: 0 !important;
  background: $colorgreen;
  ul li a {
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 17px;
    display: block;
    &:hover {
      color: white;
    }
  }
}

.footer_wrap {
  padding: 20px 0;
}
.footer_rights_wrap {
  text-align: center;
  background: $colorblue;
  padding: 15px;
}
.footer_rights_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_rights_logo {
  width: 140px;
  margin-right: 20px;
}

.footer_rights_text {
  span {
    color: white;
    font-weight: bold;
  }
}
.footer_news_form {
  max-width: 400px;
}

.footer_news_text {
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
}
.footer_redes_list ul {
  display: flex;
  a {
    color: $colorgreen;
    font-size: 23px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    padding: 10px;
    line-height: 1;
    border-radius: 50%;
  }
}

.footer_redes_text {
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
}

@media (max-width: 1140px) {
  .page_image_circle_container,
  .page_imag_circle_bdotted,
  .page_imag_circle_bsolid {
    width: 55vw;
    height: 55vw;
    top: 0;
  }
}

@media (max-width: 991px) {
  .container,
  .container-sm {
    max-width: 100%;
  }

  #header_right_toggle_button {
    display: inline-flex;
    position: fixed;
    z-index: 10;
    top: 0;
    padding: 18px;
    right: 0;
  }
  .header_menu {
    position: fixed;
    right: 0;
    height: 100%;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    transition: transform 0.5s;
    transform: translateX(100%);
    top: 0;
    background: rgba(0, 0, 0, 0.89);
    &.show {
      transform: translateX(0%);
    }
  }
  #header_menu_list {
    flex-direction: column;
    li a {
      display: block;
      padding: 16px;
      text-align: center;
    }
  }

  .header_wrap {
    background: rgba(0, 0, 0, 0.91);
    position: fixed;
    padding: 0;
    width: 100%;
  }

  .header_logo {
    padding: 13px 0px;
    width: 108px;
  }
}

@media (max-width: 767px) {
  ._container,
  .container {
    padding: 25px 15px !important;
  }
  .page_context {
    padding: 0;
  }

  .section_wrap {
    flex-direction: column;
    .wrap_sm,
    .wrap_lg {
      width: 100%;
      height: auto;
    }
  }

  .page_banner_img img {
    height: 100%;
    width: auto;
    max-width: inherit;
  }

  .page_banner_context {
    width: 90%;
  }

  .page_banner_title h3 {
    font-size: 48px;
  }

  .footer_items_row .footer_col {
    margin-bottom: 15px;
  }

  .general_section {
    flex-direction: column;
  }

  .page_imag_circle_bdotted,
  .page_imag_circle_bsolid {
    display: none;
  }
  .page_image_circle_wrap {
    height: auto;
  }
  .page_image_circle_container {
    width: 100%;
    position: relative !important;
    border-radius: 0;
    text-align: center;
    height: inherit;
    max-width: 100%;
    left: 0 !important;
    right: 0 !important;
    height: auto;
    img {
      width: auto !important;
      max-width: 100% !important;
      height: auto !important;
    }
  }

  .footer_news_text {
    margin-top: 20px;
  }
}
