@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
$fontfolder: "#{$resourcePath}/fonts/";

@font-face {
  font-family: "Futura PT";
  src: url("#{$fontfolder}FuturaPT-Medium.woff2") format("woff2"),
    url("#{$fontfolder}FuturaPT-Medium.woff") format("woff"),
    url("#{$fontfolder}FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("#{$fontfolder}FuturaPT-Light.woff2") format("woff2"),
    url("#{$fontfolder}FuturaPT-Light.woff") format("woff"),
    url("#{$fontfolder}FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("#{$fontfolder}FuturaPT-Bold.woff2") format("woff2"),
    url("#{$fontfolder}FuturaPT-Bold.woff") format("woff"),
    url("#{$fontfolder}FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

$icomoon-font-family: "verdant" !default;
$icomoon-font-path: $fontfolder !default;

$icon-clipboard: "\e924";
$icon-residential: "\e926";
$icon-mail: "\e920";
$icon-man: "\e921";
$icon-scan: "\e922";
$icon-support: "\e923";
$icon-wardrobe: "\e925";
$icon-attach_file: "\e919";
$icon-hand-money: "\e902";
$icon-hand-heart: "\e903";
$icon-clock: "\e904";
$icon-security: "\e905";
$icon-tree: "\e906";
$icon-person-arrows: "\e907";
$icon-temp: "\e908";
$icon-light: "\e909";
$icon-window: "\e90a";
$icon-window-music: "\e90b";
$icon-camera-security: "\e90c";
$icon-search: "\e90d";
$icon-light-brain: "\e90e";
$icon-hand-brain: "\e90f";
$icon-heart: "\e910";
$icon-puzzle: "\e915";
$icon-atom: "\e916";
$icon-hand-person: "\e917";
$icon-movie: "\e918";
$icon-camera-security-alt: "\1f30a";
$icon-temp-alt: "\e91a";
$icon-window-parsel: "\e91b";
$icon-light-alt: "\e91c";
$icon-team: "\e91d";
$icon-password: "\e91e";
$icon-plug: "\e91f";
$icon-instagram: "\e911";
$icon-whatsapp: "\e912";
$icon-facebook: "\e913";
$icon-arrow-down: "\e900";
$icon-check: "\e901";
$icon-cross: "\ea0f";
$icon-bars: "\e914";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tyj92g");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tyj92g#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?tyj92g")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?tyj92g")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?tyj92g##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clipboard {
  &:before {
    content: $icon-clipboard;
  }
}
.icon-residential {
  &:before {
    content: $icon-residential;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-man {
  &:before {
    content: $icon-man;
  }
}
.icon-scan {
  &:before {
    content: $icon-scan;
  }
}
.icon-support {
  &:before {
    content: $icon-support;
  }
}
.icon-wardrobe {
  &:before {
    content: $icon-wardrobe;
  }
}
.icon-attach_file {
  &:before {
    content: $icon-attach_file;
  }
}
.icon-hand-money {
  &:before {
    content: $icon-hand-money;
  }
}
.icon-hand-heart {
  &:before {
    content: $icon-hand-heart;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-security {
  &:before {
    content: $icon-security;
  }
}
.icon-tree {
  &:before {
    content: $icon-tree;
  }
}
.icon-person-arrows {
  &:before {
    content: $icon-person-arrows;
  }
}
.icon-temp {
  &:before {
    content: $icon-temp;
  }
}
.icon-light {
  &:before {
    content: $icon-light;
  }
}
.icon-window {
  &:before {
    content: $icon-window;
  }
}
.icon-window-music {
  &:before {
    content: $icon-window-music;
  }
}
.icon-camera-security {
  &:before {
    content: $icon-camera-security;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-light-brain {
  &:before {
    content: $icon-light-brain;
  }
}
.icon-hand-brain {
  &:before {
    content: $icon-hand-brain;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-puzzle {
  &:before {
    content: $icon-puzzle;
  }
}
.icon-atom {
  &:before {
    content: $icon-atom;
  }
}
.icon-hand-person {
  &:before {
    content: $icon-hand-person;
  }
}
.icon-movie {
  &:before {
    content: $icon-movie;
  }
}
.icon-camera-security-alt {
  &:before {
    content: $icon-camera-security-alt;
  }
}
.icon-temp-alt {
  &:before {
    content: $icon-temp-alt;
  }
}
.icon-window-parsel {
  &:before {
    content: $icon-window-parsel;
  }
}
.icon-light-alt {
  &:before {
    content: $icon-light-alt;
  }
}
.icon-team {
  &:before {
    content: $icon-team;
  }
}
.icon-password {
  &:before {
    content: $icon-password;
  }
}
.icon-plug {
  &:before {
    content: $icon-plug;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-bars {
  &:before {
    content: $icon-bars;
  }
}
