@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
$fontfolder: "/html_projects/verdant/resources/fonts/";

// $fontfolder: "/verdant/resources/fonts/";

@font-face {
  font-family: "Futura PT";
  src: url("#{$fontfolder}FuturaPT-Medium.woff2") format("woff2"),
    url("#{$fontfolder}FuturaPT-Medium.woff") format("woff"),
    url("#{$fontfolder}FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("#{$fontfolder}FuturaPT-Light.woff2") format("woff2"),
    url("#{$fontfolder}FuturaPT-Light.woff") format("woff"),
    url("#{$fontfolder}FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("#{$fontfolder}FuturaPT-Bold.woff2") format("woff2"),
    url("#{$fontfolder}FuturaPT-Bold.woff") format("woff"),
    url("#{$fontfolder}FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

$icomoon-font-family: "verdant" !default;
$icomoon-font-path: $fontfolder !default;

$icon-bars: "\e914";
$icon-atom: "\e902";
$icon-brain: "\e903";
$icon-cctv: "\e904";
$icon-cold: "\e905";
$icon-human: "\e906";
$icon-idea: "\e907";
$icon-lock: "\e908";
$icon-plug: "\e909";
$icon-price: "\e90a";
$icon-search: "\e90b";
$icon-team: "\e90c";
$icon-trust: "\e90d";
$icon-value: "\e90e";
$icon-video: "\e90f";
$icon-window: "\e910";
$icon-instagram: "\e911";
$icon-whatsapp: "\e912";
$icon-facebook: "\e913";
$icon-arrow-down: "\e900";
$icon-check: "\e901";
$icon-cross: "\ea0f";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?x4ic4u");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?x4ic4u#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?x4ic4u")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?x4ic4u")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?x4ic4u##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars {
  &:before {
    content: $icon-bars;
  }
}
.icon-atom {
  &:before {
    content: $icon-atom;
  }
}
.icon-brain {
  &:before {
    content: $icon-brain;
  }
}
.icon-cctv {
  &:before {
    content: $icon-cctv;
  }
}
.icon-cold {
  &:before {
    content: $icon-cold;
  }
}
.icon-human {
  &:before {
    content: $icon-human;
  }
}
.icon-idea {
  &:before {
    content: $icon-idea;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-plug {
  &:before {
    content: $icon-plug;
  }
}
.icon-price {
  &:before {
    content: $icon-price;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-team {
  &:before {
    content: $icon-team;
  }
}
.icon-trust {
  &:before {
    content: $icon-trust;
  }
}
.icon-value {
  &:before {
    content: $icon-value;
  }
}
.icon-video {
  &:before {
    content: $icon-video;
  }
}
.icon-window {
  &:before {
    content: $icon-window;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
