@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8t0jk5');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8t0jk5#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8t0jk5') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8t0jk5') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8t0jk5##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stack {
  &:before {
    content: $icon-stack; 
  }
}
.icon-hand-money {
  &:before {
    content: $icon-hand-money; 
  }
}
.icon-hand-heart {
  &:before {
    content: $icon-hand-heart; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-security {
  &:before {
    content: $icon-security; 
  }
}
.icon-tree {
  &:before {
    content: $icon-tree; 
  }
}
.icon-person-arrows {
  &:before {
    content: $icon-person-arrows; 
  }
}
.icon-temp {
  &:before {
    content: $icon-temp; 
  }
}
.icon-light {
  &:before {
    content: $icon-light; 
  }
}
.icon-window {
  &:before {
    content: $icon-window; 
  }
}
.icon-window-music {
  &:before {
    content: $icon-window-music; 
  }
}
.icon-camera-security {
  &:before {
    content: $icon-camera-security; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-light-brain {
  &:before {
    content: $icon-light-brain; 
  }
}
.icon-hand-brain {
  &:before {
    content: $icon-hand-brain; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-puzzle {
  &:before {
    content: $icon-puzzle; 
  }
}
.icon-atom {
  &:before {
    content: $icon-atom; 
  }
}
.icon-hand-person {
  &:before {
    content: $icon-hand-person; 
  }
}
.icon-movie {
  &:before {
    content: $icon-movie; 
  }
}
.icon-camera-security-alt {
  &:before {
    content: $icon-camera-security-alt; 
  }
}
.icon-temp-alt {
  &:before {
    content: $icon-temp-alt; 
  }
}
.icon-window-parsel {
  &:before {
    content: $icon-window-parsel; 
  }
}
.icon-light-alt {
  &:before {
    content: $icon-light-alt; 
  }
}
.icon-team {
  &:before {
    content: $icon-team; 
  }
}
.icon-password {
  &:before {
    content: $icon-password; 
  }
}
.icon-plug {
  &:before {
    content: $icon-plug; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard; 
  }
}
.icon-residential {
  &:before {
    content: $icon-residential; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-man {
  &:before {
    content: $icon-man; 
  }
}
.icon-scan {
  &:before {
    content: $icon-scan; 
  }
}
.icon-support {
  &:before {
    content: $icon-support; 
  }
}
.icon-wardrobe {
  &:before {
    content: $icon-wardrobe; 
  }
}
.icon-attach_file {
  &:before {
    content: $icon-attach_file; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-bars {
  &:before {
    content: $icon-bars; 
  }
}

